
body {
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: white;
  text-align: center;
}

a img{
  padding: 20px;
}

.h1 {
  font-size: 20px;
  color: #deeaee;
}

.p {
  font-size: 20px;
  font-family: monospace;
}

.banner1 {
  width: 850px;
  float: left;
}

.banner2 {
  width: 850px;
  float: right;
}
